.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login button{
    display: block;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.login-form{
    margin-top: 30px;
}
.login-form input{
    padding: 10px 30px;
    border: 1px solid coral;
    margin: 10px 0;
}